.idea-tiles-col {
    padding-top: 10px;
    padding-bottom: 10px;
}

.idea-tiles-col {
    .customCards {
        // max-width: 320px;
        // min-height: 230px;
        margin-bottom: 75px;
    }
}
