.idea-dashboard {
    margin: 20px 0;
}
.search-input {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    
    .form-group {
          @media (min-width: 1201px) {
            width: 30%;
          }
          @media (max-width: 1200px) and (min-width: 993px) {
            width: 30%;
          }
          @media (max-width: 992px) and (min-width: 769px) {
            width: 40%;
          }
          @media (max-width: 768px) and (min-width: 577px) {
            width: 50%;
          }
          @media (max-width: 576px) and (min-width: 0px) {
            width: 100%;
          }
    }
    .form-control {
        padding: 3%;
        border: 1px solid #707070;
        border-radius: 5px;
    }
}
.dasboard-tabs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0;
    button {
        width: 50%;
        background: #ffffff;
        box-shadow: 0px 3px 6px #00000029;
        border: 1px solid #cccccc;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        &:focus {
            outline: 0;
            box-shadow: 0px 3px 4px #00000029;
        }
        @media (min-width: 1201px) {
            font-size: 30px;
        }
        @media (max-width: 1200px) and (min-width: 993px) {
            font-size: 28px;
        }
        @media (max-width: 992px) and (min-width: 769px) {
            font-size: 24px;
        }
        @media (max-width: 768px) and (min-width: 577px) {
            font-size: 20px;
        }
        @media (max-width: 576px) and (min-width: 0px) {
            font-size: 16px;
        }
    }
    .active {
        background: #46b7e9;
    }
    #ideas {
        border-top-right-radius: 0;
        border-right: none;
    }
    #leaderboard {
        border-top-left-radius: 0;
        border-left: none;
    }
    #img1 {
        object-fit: contain;

        @media (min-width: 1201px) {
            width: 50px;
            height: 50px;
        }
        @media (max-width: 1200px) and (min-width: 993px) {
            width: 50px;
            height: 50px;
        }
        @media (max-width: 992px) and (min-width: 769px) {
            width: 50px;
            height: 50px;
        }
        @media (max-width: 768px) and (min-width: 577px) {
            width: 40px;
            height: 40px;
        }
        @media (max-width: 576px) and (min-width: 0px) {
            width: 30px;
            height: 30px;
        }
    }
    #img2 {
        object-fit: contain;

        @media (min-width: 1201px) {
            width: 35px;
            height: 35px;
        }
        @media (max-width: 1200px) and (min-width: 993px) {
            width: 35px;
            height: 35px;
        }
        @media (max-width: 992px) and (min-width: 769px) {
            width: 30px;
            height: 30px;
        }
        @media (max-width: 768px) and (min-width: 577px) {
            width: 20px;
            height: 20px;
        }
        @media (max-width: 576px) and (min-width: 0px) {
            width: 20px;
            height: 20px;
        }
    }
}

.filter-btn {
    display: flex;
    justify-content: flex-end;
    img {
        width: 60px;
        cursor: pointer;
    }
}

.ideas-list {
    margin-top: 100px;
}
.idea-dashboard {
    .sortDivision {
        position: relative;
        top: 50px;
        right: -40px;
        height: fit-content;
        width: 150px;
        border: 10px solid #707070;
        border-radius: 5px;
        opacity: 1;
        z-index: 1;
        background: #949494 0% 0% no-repeat padding-box;
        .css-1n7v3ny-option{
            background-color: #fff;
        }
    }

    .sortIconImg {
        height: fit-content;
        cursor: pointer;
    }
}
