.goback {
  text-align: left;
  font: normal normal normal 22px Roboto;
  letter-spacing: 0px;
  color: #2680eb;
  opacity: 1;
  text-decoration: none !important;
}
.profileRow {
  margin-top: 20px;
  margin-bottom: 14px;
}
.profileView {
  background: #f7f7f7 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #00000029;
  opacity: 1;
}
.rewardView {
  background: #e9e9e9 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px #00000029;
  opacity: 1;
}
.allocatePoints {
  background: #c9c5c5 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
  text-align: right;
  padding: 7px;
}
.heading46 {
  text-align: left;
  text-decoration: underline;
  font: normal normal bold 30px/39px Roboto;
  letter-spacing: 0px;
  color: #3d3d3d;
  text-transform: capitalize;
  opacity: 1;
}
.myprofile-circle {
  @media (min-width: 1201px) {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #fff;
    margin: 16px 0;
    align-self: center;
    background-color: #fec230;
    color: #000;
    text-align: center;
    font: normal normal bold 120px Roboto !important;
    padding: 16px;
  }
  @media (max-width: 1200px) and (min-width: 993px) {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #fff;
    margin: 16px 0;
    align-self: center;
    background-color: #fec230;
    color: #000;
    text-align: center;
    font: normal normal bold 120px Roboto !important;
    padding: 16px;
  }
  @media (max-width: 992px) and (min-width: 769px) {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 10px solid #fff;
    margin: 16px 0;
    align-self: center;
    background-color: #fec230;
    color: #000;
    text-align: center;
    font: normal normal bold 110px Roboto !important;
    padding: 16px;
  }
  @media (max-width: 768px) and (min-width: 577px) {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 16px 0;
    align-self: center;
    background-color: #fec230;
    color: #000;
    text-align: center;
    font: normal normal bold 60px Roboto !important;
    padding: 8px;
  }
  @media (max-width: 576px) and (min-width: 0px) {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin: 16px 0;
    align-self: center;
    background-color: #fec230;
    color: #000;
    text-align: center;
    font: normal normal bold 60px Roboto !important;
    padding: 8px;
  }
}
.prizeDiv {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-top: 5px;
  width: 100%;
}
.prize {
  width: 7%;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
.label1 {
  text-align: left;
  font: normal normal normal 19px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  padding: 10px;
  margin: 10px 0;
}
.value1 {
  background: #e9e9e9 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
  text-align: left;
  font: normal normal 900 22px Roboto;
  letter-spacing: 0px;
  color: #888888;
  opacity: 1;
  padding: 10px;
  margin: 16px;
}
.margin16 {
  margin-top: 16px;
}
.rewardsText {
  text-align: center;
  font: normal normal bold 18px Roboto;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 0px;
}
.rewardsPoints {
  text-align: center;
  font: normal normal 900 20px Lato;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 0px;
}
.inputLabel {
  label {
    display: none !important;
  }
}
.inputLabelText {
  text-align: right;
  font: normal normal medium 18px Roboto !important;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-top: 10px;
}
.padding10 {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
.idea-tiles-col {
  padding-top: 10px;
  padding-bottom: 10px;
}

.idea-tiles-col {
  .customCards {
    // max-width: 320px;
    // min-height: 230px;
    margin-bottom: 75px;
  }
}
.leftContent {
  text-align: left;
  font: normal normal 300 10px/16px Roboto;
  letter-spacing: -0.2px;
  color: #343434;
  opacity: 1;
  margin-bottom: 0;
}
.rightContent {
  text-align: right;
  font: normal normal 300 10px/16px Roboto;
  letter-spacing: -0.2px;
  color: #343434;
  opacity: 1;
  margin-bottom: 0;
}
.marginTop60 {
  margin-top: 40px !important;
  margin-bottom: 20px !important;

}
.pointsSuccess {
  text-align: left;
  font: normal normal bold 18px Roboto;
  letter-spacing: 0px;
  color: #3d3d3d;
  opacity: 1;
  margin-bottom: 0px;
}

.profileTabs {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 30px #00000012;
  opacity: 0.72;
  // min-height: 600px;
  margin-bottom: 20px;
}

.profileTabText {
  text-align: left;
  font: normal normal bold 20px Roboto;
  letter-spacing: 0px;
  opacity: 1;
  padding: 10px;
  cursor: pointer;
}

.imageAlign {
  text-align: right;

  @media (max-width: 820px) {
    text-align: left;
    max-width: max-content;
  }
}

.profileQuote {
  text-align: center;
  font: normal normal bold 34px Roboto;
  letter-spacing: 0px;
  color: #46b7e9;
  opacity: 1;
  @media (max-width: 820px) {
    font: normal normal bold 24px Roboto;
  }
}

.profileQuoteAuthor {
  text-align: right;
  font: normal normal bold 30px Roboto;
  letter-spacing: 0px;
  color: #fec230;
  opacity: 1;
  @media (max-width: 820px) {
    font: normal normal bold 20px Roboto;
  }
}

.quoteSection {
  margin: 10% 1%;
}

.paddingRow {
  padding: 0px 10px;
}

.submenu {
  font-size: 16px;
}
.submitBtn{
  height: 38px;
  padding: 5px 16px ;
}