.ideaCard {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
  padding: 10px;
  position: relative;
}
.eye-icon1 {
  width: 16px;
}
.cardContent {
  margin-top: -90px;
  cursor: pointer;
}
.viewCount1 {
   text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
    width: unset;
    height: unset;
    line-height: 1.25;
    [data-prefix="fas"]{
        color:#630909;
    }
}
.ideaName1 {
  margin-top: 40px;
  text-align: center;
  font: normal normal medium 22px Roboto;
  letter-spacing: 0px;
  color: #3d3d3d;
  opacity: 1;
  font-weight: 700;
}
.des {
  font-size: 16px;
  text-align: center !important;
  color: #3d3d3d;
  font-family: Roboto;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  min-height: 72px;
}
.ideaProfile-circle {
  width: 100px;
  height:100px;
  border-radius: 50%;
  background: #FEC230 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  border: 5px solid #ffffff;
  opacity: 1;
  position: relative;
  top: -60px;
  margin: auto;
  color:#000;
  text-align: center;
  font: normal normal bold 50px Roboto !important;
  padding: 16px;
  cursor: pointer;
}
.author {
  text-align: right !important;
  font: italic normal normal 12px/16px Roboto;
  letter-spacing: -0.55px;
  color: #082848;
  opacity: 1;
  margin-top: 12px;
}