.statusCard {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 5px;
    opacity: 1;
    padding: 16px;
    text-align: center;
    font: normal normal 900 18px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    cursor: pointer;
    height: 75px;
}
.statusCardActive {
    background: #46b7e9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    // border: 1px solid #707070;
    border-radius: 5px;
    opacity: 1;
    padding: 16px;
    text-align: center;
    font: normal normal 900 18px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    cursor: pointer;
    height: 75px;
}
